<a href="/puppies">home</a>
<% puppy = puppies[@id] %> <h1>Adopt Me!</h1>
<p>
  Hi!! My name is <%= puppy[:name] %>... <%= puppy[:bio] %>
</p>
<p><img src="http://placepuppy.it/300/300&n=<%= puppy[:picture_id] %>"/>
</p>
<a href="/puppy/<%= @id %>/edit"> edit this puppy</a>
<br>
<a href="/puppy/<%= @id %>/ask_a_question"> ask the seller a question
</a>
